body {
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(237, 186, 170);
  text-align: center;
  padding: 200px 250px;
}

.container a {
  text-decoration: none;
  color: darkslateblue;
  transition: all 150ms ease-in-out;
}

.container a:hover {
  text-decoration: underline;
  color: white;
}

h1 {
  font-weight: bold;
}
